<!DOCTYPE html>
<!-- 引入Thymeleaf模板、shiro标签 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>已回执吉利单据</title>
    <!-- 导入bootstrap样式 -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- title图标 -->
    <link rel="icon" th:href="@{/image/favicon.ico}" type="images/x-ico"/>
    <!-- 引用jquery -->
    <script th:src="@{/bootstrap/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/laydate/laydate.js}"></script>
    <script th:src="@{/js/ajaxAll.js}"></script>
    <script th:src="@{/js/geelyBillRecord.js}"></script>
    <style>
        #search-collapse input{
            height: 30px;
            padding-left:10px ;
        }
        #search-collapse select{
            height: 30px;
        }
        table th{
            white-space:nowrap;
        }
        table{
            white-space:nowrap;
        }
    </style>
    <script type="text/javascript">
        //定义全局变量
        var bindData=false;
    </script>
</head>
<body>
<shiro:hasPermission name="geelyBillRecordBind">
    <script>bindData=true</script>
</shiro:hasPermission>
<!-- 面包屑导航 -->
<ul class="breadcrumb" style="margin:0">
    <li class="active">单据跟踪</li>
    <li class="active">已回执吉利单据</li>
</ul>
<!-- 搜索导航 -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search-collapse">
        筛选条件<span class="glyphicon glyphicon-chevron-down"></span>
    </button>
</div>
<div class="collapse navbar-collapse" id="search-collapse">
    <input type="text" placeholder="物料名称" class="form-inline" id="input_goodName"/>
    <input type="text" placeholder="物料编号" class="form-inline" id="input_goodCode"/>
    <input type="text" placeholder="供应商名称" class="form-inline" id="input_supplierName"/>
    <input type="text" placeholder="供应商编号" class="form-inline" id="input_supplierCode"/>
    <input type="text" placeholder="吉利单号" class="form-inline" id="input_billNumber"/>
    <input type="text" placeholder="批次" class="form-inline" id="input_batch"/>
    <select class="form-inline" id="select_needBind">
        <option value="">是否需要绑定补充单</option>
        <option>是</option>
        <option>否</option>
    </select>
    <input type="text" placeholder="补充单号" class="form-inline" id="input_bindBillNumber"/>
    <input type="text" placeholder="上传日期" class="form-inline" id="input_uploadDate"/>
    <input type="text" placeholder="回执日期(开始)" class="form-inline" id="input_receiveDateStart"/>
    <input type="text" placeholder="回执日期(结束)" class="form-inline" id="input_receiveDateEnd"/>
    <button class="btn btn-primary btn-sm form-inline" type="button" onclick="findByLimit(1)">查询<span
            class="glyphicon glyphicon-search"></span></button>
    &emsp;<span style="color: red">需要绑定补充单数量：</span><span id="needBindCount" style="color: red"></span>
    <shiro:hasPermission name="billRecordeDownload">
        <button class="btn btn-warning btn-sm form-inline" type="button" onclick="toDownload()">下载<span
                class="glyphicon glyphicon-download"></span></button>
    </shiro:hasPermission>
</div>

<table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr>
        <th style="display:none">id</th>
        <th>吉利单号</th>
        <th>物料编号</th>
        <th>物料名称</th>
        <th>供应商编号</th>
        <th>供应商名称</th>
        <th>单据数量</th>
        <th>实收数量</th>
        <th>批次</th>
        <th>是否加急</th>
        <th>是否绑定补充单</th>
        <th>补充单号</th>
        <th>上传时间</th>
        <th>回执时间</th>
        <th>备注</th>
        <shiro:hasPermission name="geelyBillRecordBind">
            <th>操作</th>
        </shiro:hasPermission>
    </tr>
    </thead>
    <tbody id="table_data"></tbody>
</table>

<!-- 填入绑定单号模态框 -->
<div class="modal fade" id="bindModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center">填入补充单号</h4>
            </div>
            <div class="modal-body">
                <input type="text" style="display: none" id="bindModal_id">
                <input type="text" class="form-control" id="bindModal_billNumber" placeholder="补充吉利单号">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="bind()">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 底部分页 -->
<div id="div_page">
    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
        <p>
            第<span id="span_currentPage"></span>页/共<span id="span_totalPage"></span>页,每页30条记录&emsp;
            共<span id="span_dataCount"></span>条数据&emsp;
            跳转到<input type="text" id="input_goPage" style="width:30px"/>页
            <button class="btn btn-xs" type="button" onclick="goPage()">GO</button>
        </p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
        <ul class="pagination" style="margin:0;padding:0;">
            <li><a href="#" onclick="indexPage()">首页</a></li>
            <li><a href="#" onclick="previousPage()">上一页</a></li>
            <li id="li1"><a href="#" id="a1" onclick="pageButton(this)"></a></li>
            <li id="li2"><a href="#" id="a2" onclick="pageButton(this)"></a></li>
            <li id="li3"><a href="#" id="a3" onclick="pageButton(this)"></a></li>
            <li><a href="#" onclick="nextPage()">下一页</a></li>
            <li><a href="#" onclick="lastPage()">尾页</a></li>
        </ul>
    </div>
</div>

<!-- 页面加载提示 -->
<div id="div_loading"
     style="display:none;z-index:9999;position:absolute;width:100%;height:100%;top:0;left:0;background:#ffffff;">
    <img alt="加载中..." th:src="@{/image/loading.gif}"
         style="position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);">
</div>

</body>
</html>