<!DOCTYPE html>
<!-- 引入Thymeleaf模板、shiro标签 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>运行参数</title>
    <!-- 导入bootstrap样式 -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/zTree/css/zTreeStyle/zTreeStyle.css}">
    <!-- title图标 -->
    <link rel="icon" th:href="@{/image/favicon.ico}" type="images/x-ico"/>
    <!-- 引用jquery -->
    <script th:src="@{/bootstrap/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/zTree/js/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/js/ajaxAll.js}"></script>
    <script th:src="@{/js/params.js}"></script>
    <script type="text/javascript">
        //定义全局变量
        var updateData=false;
        var deleteData=false;
    </script>
    <style>
        #search-collapse input{
            height: 30px;
            padding-left:10px ;
        }
    </style>
</head>
<body>
<shiro:hasPermission name="paramsUpdate">
    <script>updateData=true</script>
</shiro:hasPermission>
<shiro:hasPermission name="paramsDelete">
    <script>deleteData=true</script>
</shiro:hasPermission>
<!-- 面包屑导航 -->
<ul class="breadcrumb" style="margin:0">
    <li class="active">基础数据</li>
    <li class="active">运行参数</li>
</ul>
<!-- 搜索导航 -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search-collapse">
        筛选条件<span class="glyphicon glyphicon-chevron-down"></span>
    </button>
</div>
<div class="collapse navbar-collapse" id="search-collapse">
    <button class="btn btn-primary btn-sm form-inline" type="button" onclick="findAll()">查询<span
            class="glyphicon glyphicon-search"></span></button>
    <shiro:hasPermission name="paramsAdd">
    <button class="btn btn-info btn-sm form-inline" type="button" onclick="toAdd()">添加<span
            class="glyphicon glyphicon-plus"></span></button>
    </shiro:hasPermission>
</div>

<table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr>
        <th style="display:none">id</th>
        <th>参数名称</th>
        <th>参数值</th>
        <th>参数类型</th>
        <th>描述</th>
        <th shiro:hasAnyPermissions="paramsUpdate,paramsDelete">操作</th>
    </tr>
    </thead>
    <tbody id="table_data"></tbody>
</table>

<!-- 添加模态框 -->
<div class="modal fade" id="addModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center">添加数据</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" type="text" id="add_paramName" placeholder="参数名称">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="add_paramValue" placeholder="参数值">
                </div>
                <div class="form-group">
                    <select class="form-control" id="add_paramType">
                        <option>字符串</option>
                        <option>整数</option>
                        <option>保留2位小数的数字</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="2" id="add_describes" placeholder="描述"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="add()">添加</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改模态框 -->
<div class="modal fade" id="updateModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center">修改数据</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="update_id" style="display:none">
                <div class="form-group">
                    <input class="form-control" type="text" id="update_paramName" placeholder="参数名称">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="update_paramValue" placeholder="参数值">
                </div>
                <div class="form-group">
                    <select class="form-control" id="update_paramType">
                        <option>字符串</option>
                        <option>整数</option>
                        <option>保留2位小数的数字</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="2" id="update_describes" placeholder="描述"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="update()">修改</button>
            </div>
        </div>
    </div>
</div>


<!-- 页面加载提示 -->
<div id="div_loading"
     style="display:none;z-index:9999;position:absolute;width:100%;height:100%;top:0;left:0;background:#ffffff;">
    <img alt="加载中..." th:src="@{/image/loading.gif}"
         style="position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);">
</div>

</body>
</html>