<!DOCTYPE html>
<!-- 引入Thymeleaf模板、shiro标签 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>供应商信息</title>
    <!-- 导入bootstrap样式 -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- title图标 -->
    <link rel="icon" th:href="@{/image/favicon.ico}" type="images/x-ico"/>
    <!-- 引用jquery -->
    <script th:src="@{/bootstrap/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/ajaxAll.js}"></script>
    <script th:src="@{/js/address.js}"></script>
    <script th:src="@{/js/supplier.js}"></script>
    <script type="text/javascript">
        //定义全局变量
        var updateData=false;
        var deleteData=false;
    </script>
    <style>
        #search-collapse input{
            height: 30px;
            padding-left:10px ;
        }
        #search-collapse select{
            height: 30px;
        }
    </style>
</head>
<body>
<shiro:hasPermission name="supplierUpdate">
    <script>updateData=true</script>
</shiro:hasPermission>
<shiro:hasPermission name="supplierDelete">
    <script>deleteData=true</script>
</shiro:hasPermission>
<!-- 面包屑导航 -->
<ul class="breadcrumb" style="margin:0">
    <li class="active">基础数据</li>
    <li class="active">供应商信息</li>
</ul>
<!-- 搜索导航 -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search-collapse">
        筛选条件<span class="glyphicon glyphicon-chevron-down"></span>
    </button>
</div>
<div class="collapse navbar-collapse" id="search-collapse">
    <input type="text" placeholder="供应商名称" class="form-inline" id="input_supplierName"/>
    <input type="text" placeholder="供应商编号" class="form-inline" id="input_supplierCode"/>
    <select class="form-inline" id="select_province" onchange="loadCity('select_city','select_province','')">
        <option value="" class="form-inline">--省--</option>
    </select>
    <select class="form-inline" id="select_city" onchange="loadDistrict('select_district','select_city','select_province','')">
        <option value="" class="form-inline">--市--</option>
    </select>
    <select class="form-inline" id="select_district">
        <option value="" class="form-inline">--区(县)--</option>
    </select>
    <select class="form-inline" id="select_factoryId">
        <option value="0">请选择工厂</option>
    </select>
    <select class="form-inline" id="select_areaId">
        <option value="0">请选择区域</option>
    </select>
    <button class="btn btn-primary btn-sm form-inline" type="button" onclick="findByLimit(1)">查询<span
            class="glyphicon glyphicon-search"></span></button>
    <shiro:hasPermission name="supplierAdd">
    <button class="btn btn-info btn-sm form-inline" type="button" onclick="toAdd()">添加<span
            class="glyphicon glyphicon-plus"></span></button>
    <button class="btn btn-info btn-sm form-inline" type="button" onclick="toUpload()">批量添加<span
            class="glyphicon glyphicon-plus"></span></button>
    </shiro:hasPermission>
    <shiro:hasPermission name="supplierDownload">
        <button class="btn btn-warning btn-sm form-inline" type="button" onclick="toDownload()">下载<span
                class="glyphicon glyphicon-download"></span></button>
    </shiro:hasPermission>
</div>

<table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr>
        <th style="display:none">id</th>
        <th>供应商编号</th>
        <th>供应商名称</th>
        <th>供应商简称</th>
        <th>联系人</th>
        <th>电话</th>
        <th>省</th>
        <th>市</th>
        <th>区(县)</th>
        <th>详细地址</th>
        <th>经度</th>
        <th>纬度</th>
        <th>运输周期(天)</th>
        <th>所属区域</th>
        <th>所属工厂</th>
        <th shiro:hasAnyPermissions="supplierUpdate,supplierDelete">操作</th>
    </tr>
    </thead>
    <tbody id="table_data"></tbody>
</table>

<!-- 添加模态框 -->
<div class="modal fade" id="addModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center">添加数据</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>供应商名称</label>
                    <input class="form-control" type="text" id="add_supplierName" placeholder="供应商名称">
                </div>
                <div class="form-group">
                    <label>供应商编号</label>
                    <input class="form-control" type="text" id="add_supplierCode" placeholder="供应商编号">
                </div>
                <div class="form-group">
                    <label>供应商简称</label>
                    <input class="form-control" type="text" id="add_abbreviation" placeholder="供应商简称">
                </div>
                <div class="form-group">
                    <label>联系人</label>
                    <input class="form-control" type="text" id="add_contact" placeholder="联系人">
                </div>
                <div class="form-group">
                    <label>电话</label>
                    <input class="form-control" type="text" id="add_phone" placeholder="电话">
                </div>
                <div class="form-group">
                    <label>省</label>
                    <select class="form-control" id="add_province" onchange="loadCity('add_city','add_province','')">
                        <option>--省--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>市</label>
                    <select class="form-control" id="add_city" onchange="loadDistrict('add_district','add_city','add_province','')"></select>
                </div>
                <div class="form-group">
                    <label>区(县)</label>
                    <select class="form-control" id="add_district"></select>
                </div>
                <div class="form-group">
                    <label>详细地址</label>
                    <input class="form-control" type="text" id="add_address" placeholder="详细地址">
                </div>
                <div class="form-group">
                    <label>经度</label>
                    <input class="form-control" type="text" id="add_longitude" placeholder="-180到180之间的保留小数点后6位的数字">
                </div>
                <div class="form-group">
                    <label>纬度</label>
                    <input class="form-control" type="text" id="add_latitude" placeholder="-180到180之间的保留小数点后6位的数字">
                </div>
                <div class="form-group">
                    <label>运输周期(天)</label>
                    <input class="form-control" type="text" id="add_transitDay" placeholder="大于0的最多保留小数点后1位的数字">
                </div>
                <div class="form-group">
                    <label>所属工厂</label>
                    <select class="form-control" id="add_factoryId">
                        <option value="0">请选择工厂</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>所属区域</label>
                    <select class="form-control" id="add_areaId">
                        <option value="0">请选择区域</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="add()">添加</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改模态框 -->
<div class="modal fade" id="updateModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center">修改数据</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="update_id" style="display:none">
                <div class="form-group">
                    <label>供应商名称</label>
                    <input class="form-control" type="text" id="update_supplierName" disabled="disabled">
                </div>
                <div class="form-group">
                    <label>供应商编号</label>
                    <input class="form-control" type="text" id="update_supplierCode" disabled="disabled">
                </div>
                <div class="form-group">
                    <label>供应商简称</label>
                    <input class="form-control" type="text" id="update_abbreviation">
                </div>
                <div class="form-group">
                    <label>联系人</label>
                    <input class="form-control" type="text" id="update_contact" placeholder="联系人">
                </div>
                <div class="form-group">
                    <label>电话</label>
                    <input class="form-control" type="text" id="update_phone" placeholder="电话">
                </div>
                <div class="form-group">
                    <label>省</label>
                    <select class="form-control" id="update_province" onchange="loadCity('update_city','update_province','')"></select>
                </div>
                <div class="form-group">
                    <label>市</label>
                    <select class="form-control" id="update_city" onchange="loadDistrict('update_district','update_city','update_province','')"></select>
                </div>
                <div class="form-group">
                    <label>区(县)</label>
                    <select class="form-control" id="update_district"></select>
                </div>
                <div class="form-group">
                    <label>详细地址</label>
                    <input class="form-control" type="text" id="update_address" placeholder="详细地址">
                </div>
                <div class="form-group">
                    <label>经度</label>
                    <input class="form-control" type="text" id="update_longitude" placeholder="-180到180之间的保留小数点后6位的数字">
                </div>
                <div class="form-group">
                    <label>纬度</label>
                    <input class="form-control" type="text" id="update_latitude" placeholder="-180到180之间的保留小数点后6位的数字">
                </div>
                <div class="form-group">
                    <label>运输周期(天)</label>
                    <input class="form-control" type="text" id="update_transitDay" placeholder="大于0的最多保留小数点后1位的数字">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="update()">修改</button>
            </div>
        </div>
    </div>
</div>

<!--批量添加模态框 -->
<div class="modal fade" id="uploadModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center">批量添加</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <button type="button" onclick="window.open('supplierModalDownload')" class="btn btn-info">模板下载</button>
                </div>
                <form method="post" enctype="multipart/form-data" id="uploadForm" role="form">
                    <input type="file" name="file" id="uploadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" class="form-control">
                </form>
                <span style="color:#FF00FF">注意：Excel中所有单元格的格式要为文本</span>
                <p align="center" id="uploadResult" style="color: red"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" onclick="upload()">导入</button>
            </div>
        </div>
    </div>
</div>

<!-- 底部分页 -->
<div id="div_page">
    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
        <p>
            第<span id="span_currentPage"></span>页/共<span id="span_totalPage"></span>页,每页30条记录&emsp;
            共<span id="span_dataCount"></span>条数据&emsp;
            跳转到<input type="text" id="input_goPage" style="width:30px"/>页
            <button class="btn btn-xs" type="button" onclick="goPage()">GO</button>
        </p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
        <ul class="pagination" style="margin:0;padding:0;">
            <li><a href="#" onclick="indexPage()">首页</a></li>
            <li><a href="#" onclick="previousPage()">上一页</a></li>
            <li id="li1"><a href="#" id="a1" onclick="pageButton(this)"></a></li>
            <li id="li2"><a href="#" id="a2" onclick="pageButton(this)"></a></li>
            <li id="li3"><a href="#" id="a3" onclick="pageButton(this)"></a></li>
            <li><a href="#" onclick="nextPage()">下一页</a></li>
            <li><a href="#" onclick="lastPage()">尾页</a></li>
        </ul>
    </div>
</div>

<!-- 页面加载提示 -->
<div id="div_loading"
     style="display:none;z-index:9999;position:absolute;width:100%;height:100%;top:0;left:0;background:#ffffff;">
    <img alt="加载中..." th:src="@{/image/loading.gif}"
         style="position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);">
</div>

</body>
</html>