<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.defei.lps.dao.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.defei.lps.entity.Area" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="areaname" property="areaname" jdbcType="VARCHAR" />
    <result column="areanumber" property="areanumber" jdbcType="VARCHAR" />
    <result column="describes" property="describes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, areaname, areanumber, describes
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List" /> from area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--根据编号查询-->
  <select id="selectByAreanumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from area where areanumber = #{areanumber,jdbcType=VARCHAR}
  </select>
  <!--根据名称查询-->
  <select id="selectByAreaname" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from area where areaname = #{areaname,jdbcType=VARCHAR}
  </select>
  <!-- 条件分页查询 -->
  <select id="selectLimitByCondition" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from area
    <trim prefix="where" prefixOverrides="and">
      <if test="areaname!=null and areaname!=''">
        and areaname like '%${areaname}%'
      </if>
      <if test="areanumber!=null and areanumber!=''">
        and areanumber like '%${areanumber}%'
      </if>
    </trim>
    limit #{index},30
  </select>
  <!-- 条件分页查询总数量 -->
  <select id="selectCountByCondition" resultType="java.lang.Integer">
    select count(*) from area
    <trim prefix="where" prefixOverrides="and">
      <if test="areaname!=null and areaname!=''">
        and areaname like '%${areaname}%'
      </if>
      <if test="areanumber!=null and areanumber!=''">
        and areanumber like '%${areanumber}%'
      </if>
    </trim>
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from area
  </select>
  <!--根据线路id查询-->
  <select id="selectByRouteid" resultMap="BaseResultMap">
    select a.id, a.areaname, a.areanumber, a.describes from area a,route r
    where a.id=r.areaid
    and r.id=#{routeid}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.defei.lps.entity.Area" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areaname != null" >
        areaname,
      </if>
      <if test="areanumber != null" >
        areanumber,
      </if>
      <if test="describes != null" >
        describes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaname != null" >
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="areanumber != null" >
        #{areanumber,jdbcType=VARCHAR},
      </if>
      <if test="describes != null" >
        #{describes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.defei.lps.entity.Area" >
    update area
    <set >
      <if test="areaname != null" >
        areaname = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="areanumber != null" >
        areanumber = #{areanumber,jdbcType=VARCHAR},
      </if>
      <if test="describes != null" >
        describes = #{describes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>