<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.defei.lps.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.defei.lps.entity.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="carnumber" property="carnumber" jdbcType="VARCHAR" />
    <result column="highlength" property="highlength" jdbcType="INTEGER" />
    <result column="highheight" property="highheight" jdbcType="INTEGER" />
    <result column="lowlength" property="lowlength" jdbcType="INTEGER" />
    <result column="lowheight" property="lowheight" jdbcType="INTEGER" />
    <result column="carwidth" property="carwidth" jdbcType="INTEGER" />
    <association column="carrierid" property="carrier" select="com.defei.lps.dao.CarrierMapper.selectByPrimaryKey" javaType="com.defei.lps.entity.Carrier"/>
    <association column="cartypeid" property="cartype" select="com.defei.lps.dao.CarTypeMapper.selectByPrimaryKey" javaType="com.defei.lps.entity.CarType"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, carnumber, carrierid, cartypeid, highlength, highheight, lowlength,
    lowheight, carwidth
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List" /> from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--根据车牌查询-->
  <select id="selectByCarNumber" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from car
    where carnumber = #{carnumber}
  </select>
  <!-- 条件分页查询 -->
  <select id="selectLimitByCondition" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from car
    <trim prefix="where" prefixOverrides="and">
      <if test="carnumber!=null and carnumber!=''">
        and carnumber like '%${carnumber}%'
      </if>
      <if test="cartypeid!=0">
        and cartypeid=#{cartypeid}
      </if>
      <if test="carrierid!=0">
        and carrierid=#{carrierid}
      </if>
    </trim>
    order by carrierid,cartypeid limit #{index},30
  </select>
  <!-- 条件分页查询总数量 -->
  <select id="selectCountByCondition" resultType="java.lang.Integer">
    select count(*) from factory
    <trim prefix="where" prefixOverrides="and">
      <if test="carnumber!=null and carnumber!=''">
        and carnumber like '%${carnumber}%'
      </if>
      <if test="cartypeid!=0">
        and cartypeid=#{cartypeid}
      </if>
      <if test="carrierid!=0">
        and carrierid=#{carrierid}
      </if>
    </trim>
  </select>
  <!--根据车型id查询-->
  <select id="selectByCartypeid" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from car
    where cartypeid = #{cartypeid}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.defei.lps.entity.Car" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carnumber != null" >
        carnumber,
      </if>
      <if test="carrier != null" >
        carrierid,
      </if>
      <if test="cartype != null" >
        cartypeid,
      </if>
      <if test="highlength != null" >
        highlength,
      </if>
      <if test="highheight != null" >
        highheight,
      </if>
      <if test="lowlength != null" >
        lowlength,
      </if>
      <if test="lowheight != null" >
        lowheight,
      </if>
      <if test="carwidth != null" >
        carwidth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carnumber != null" >
        #{carnumber,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null" >
        #{carrier.id,jdbcType=INTEGER},
      </if>
      <if test="cartype != null" >
        #{cartype.id,jdbcType=INTEGER},
      </if>
      <if test="highlength != null" >
        #{highlength,jdbcType=INTEGER},
      </if>
      <if test="highheight != null" >
        #{highheight,jdbcType=INTEGER},
      </if>
      <if test="lowlength != null" >
        #{lowlength,jdbcType=INTEGER},
      </if>
      <if test="lowheight != null" >
        #{lowheight,jdbcType=INTEGER},
      </if>
      <if test="carwidth != null" >
        #{carwidth,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.defei.lps.entity.Car" >
    update car
    <set >
      <if test="carnumber != null" >
        carnumber = #{carnumber,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null" >
        carrierid = #{carrier.id,jdbcType=INTEGER},
      </if>
      <if test="cartype != null" >
        cartypeid = #{cartype.id,jdbcType=INTEGER},
      </if>
      <if test="highlength != null" >
        highlength = #{highlength,jdbcType=INTEGER},
      </if>
      <if test="highheight != null" >
        highheight = #{highheight,jdbcType=INTEGER},
      </if>
      <if test="lowlength != null" >
        lowlength = #{lowlength,jdbcType=INTEGER},
      </if>
      <if test="lowheight != null" >
        lowheight = #{lowheight,jdbcType=INTEGER},
      </if>
      <if test="carwidth != null" >
        carwidth = #{carwidth,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>