<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.defei.lps.dao.FactoryMapper" >
  <resultMap id="BaseResultMap" type="com.defei.lps.entity.Factory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="factoryname" property="factoryname" jdbcType="VARCHAR" />
    <result column="factorynumber" property="factorynumber" jdbcType="VARCHAR" />
    <result column="describes" property="describes" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, factoryname, factorynumber, describes, province, city, district, address, longitude,
    latitude
  </sql>
  <!--根据id查询-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List" /> from factory where id = #{id,jdbcType=INTEGER}
  </select>
  <!--根据工厂编号查询-->
  <select id="selectByFactorynumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from factory where factorynumber = #{factorynumber,jdbcType=VARCHAR}
  </select>
  <!--根据工厂名称查询-->
  <select id="selectByFactoryname" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from factory where factoryname = #{factoryname,jdbcType=VARCHAR}
  </select>
  <!-- 条件分页查询 -->
  <select id="selectLimitByCondition" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from factory
    <trim prefix="where" prefixOverrides="and">
      <if test="factoryname!=null and factoryname!=''">
        and factoryname like '%${factoryname}%'
      </if>
      <if test="factorynumber!=null and factorynumber!=''">
        and factorynumber like '%${factorynumber}%'
      </if>
      <if test="province!=null and province!=''">
        and province =#{province}
      </if>
      <if test="city!=null and city!=''">
        and city =#{city}
      </if>
      <if test="district!=null and district!=''">
        and district =#{district}
      </if>
    </trim>
    limit #{index},30
  </select>
  <!-- 条件分页查询总数量 -->
  <select id="selectCountByCondition" resultType="java.lang.Integer">
    select count(*) from factory
    <trim prefix="where" prefixOverrides="and">
      <if test="factoryname!=null and factoryname!=''">
        and factoryname like '%${factoryname}%'
      </if>
      <if test="factorynumber!=null and factorynumber!=''">
        and factorynumber like '%${factorynumber}%'
      </if>
      <if test="province!=null and province!=''">
        and province =#{province}
      </if>
      <if test="city!=null and city!=''">
        and city =#{city}
      </if>
      <if test="district!=null and district!=''">
        and district =#{district}
      </if>
    </trim>
  </select>
  <!-- 条件查询 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from factory
    <trim prefix="where" prefixOverrides="and">
      <if test="factoryname!=null and factoryname!=''">
        and factoryname like '%${factoryname}%'
      </if>
      <if test="factorynumber!=null and factorynumber!=''">
        and factorynumber like '%${factorynumber}%'
      </if>
      <if test="province!=null and province!=''">
        and province =#{province}
      </if>
      <if test="city!=null and city!=''">
        and city =#{city}
      </if>
      <if test="district!=null and district!=''">
        and district =#{district}
      </if>
    </trim>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from factory where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.defei.lps.entity.Factory" >
    insert into factory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="factoryname != null" >
        factoryname,
      </if>
      <if test="factorynumber != null" >
        factorynumber,
      </if>
      <if test="describes != null" >
        describes,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="factoryname != null" >
        #{factoryname,jdbcType=VARCHAR},
      </if>
      <if test="factorynumber != null" >
        #{factorynumber,jdbcType=VARCHAR},
      </if>
      <if test="describes != null" >
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.defei.lps.entity.Factory" >
    update factory
    <set >
      <if test="factoryname != null" >
        factoryname = #{factoryname,jdbcType=VARCHAR},
      </if>
      <if test="factorynumber != null" >
        factorynumber = #{factorynumber,jdbcType=VARCHAR},
      </if>
      <if test="describes != null" >
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>