<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.defei.lps.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.defei.lps.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="rolename" property="rolename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, rolename
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List" /> from user where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 条件分页查询 -->
  <select id="selectLimitByCondition" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from user
    where username!='furiadmin'
    <if test="username!=null and username!=''">
      and username like '%${username}%'
    </if>
    <if test="rolename!=null and rolename!=''">
      and rolename like '%${rolename}%'
    </if>
    limit #{index},30
  </select>
  <!-- 条件分页查询总数量 -->
  <select id="selectCountByCondition" resultType="java.lang.Integer">
    select count(*) from user
    where username!='furiadmin'
    <if test="username!=null and username!=''">
      and username like '%${username}%'
    </if>
    <if test="rolename!=null and rolename!=''">
      and rolename like '%${rolename}%'
    </if>
  </select>
  <!-- 根据用户名查询 -->
  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <!-- 根据角色名称查询 -->
  <select id="selectByRoleName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from user
    where rolename = #{rolename,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.defei.lps.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.defei.lps.entity.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据角色名称修改角色名称-->
  <update id="updateRolenameByRolename" parameterType="java.lang.String" >
    update user set rolename=#{rolename} where rolename = #{oldrolename}
  </update>
</mapper>